<h1 class="animated fadeIn">Destacados</h1>
<hr>

<div class="card-columns animated fadeIn">
    <div class="card text-justify" *ngFor="let futbolista of destacados">
        <img [src]="futbolista.img" class="card-img-top" [alt]="futbolista.nombre">
        <div class="card-body">
            <h5 class="card-title">{{ futbolista.nombre }}</h5>
            <p class="card-text">{{ futbolista.bio }}</p>
            <p class="card-text"><small class="text-muted">
                {{ futbolista.posicion }} - {{ futbolista.equipo }}
            </small></p>

            <button type="button" class="btn btn-outline-primary btn-block">
              Ver más...
            </button>
        </div>
    </div>

</div>